{{- with site.Params.homeInfoParams }}
<section class="info">
    <article class="first-entry home-info">
        <header class="entry-header">
            <h1>{{ .Title | markdownify }}</h1>
        </header>
        <section class="entry-content">
            <p>{{ .Content | markdownify }}</p>
        </section>
        <footer class="entry-footer">
            {{ partial "social_icons.html" site.Params.socialIcons }}
        </footer>
    </article>
    <img id="info-image" src="{{- site.Params.images | absURL -}}" alt="logo" aria-label="logo">
</section>


{{- end -}}
