/*
* I use Skeleton V1.2|  customise By milad Haji Hasanlo
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */
body,
html {
}

::selection {
  background-color: #263238;
}

body {
  font-family: "sahel", arial;
  direction: rtl;
  background: #bdc3c7; /* fallback for old browsers */
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-repeat: repeat;
  min-height: 100vh;
}
#main_website {
  display: none;
}
#loader {
  width: 100%;
  height: 100vh;
  text-align: center;
}

div {
  display: block;
}
a:link {
  text-decoration: none;
} /* unvisited link */
a:visited {
  text-decoration: none;
} /* visited link */
a:hover {
  text-decoration: none;
} /* mouse over link */
a:active {
  text-decoration: none;
}

#title {
  width: 470px;
  position: absolute;
  top: 30%;
  font-size: 35px;
  right: 50%;
  margin-right: -235px;
  line-height: 1.5;
  color: white;
  text-align: center;
  z-index: 2;
  transition: all 0.5s;
}
header {
  position: relative;
  font-size: 60px;
  line-height: 1.5;
  color: white;
  text-align: center;
  height: 120px;
  background-color: #f13348;
  z-index: 1;
  overflow: hidden;
}
section {
  border-top: 1px solid #ccc;
  min-height: 400px;
}

footer {
  text-align: center;
  width: 100%;
  background-color: #f13348;
  font-family: "koodak_Bold", arial;
  font-size: 12px;
  line-height: 1;
  color: #ecf0f1;
  height: 3em;
  z-index: 0;
  line-height: 0.25;
}
footer p {
  padding-top: 1em;
}
.limit {
  height: 25em;
}

#title h1,
#title h2,
#title h3 {
  color: white;
  font-family: "koodak_Bold", arial;
  height: 4em;
}
#title h1 {
  font-size: 40px;
  padding-top: 1.5em;
  padding-bottom: 1em;
}
#title h2 {
  font-size: 35px;
  padding-top: 1.5em;
}
#title h3 {
  font-size: 30px;
  padding-top: 1em;
}
#menu {
  font-size: 20px;
  font-family: "koodak_Bold", arial;
  height: 3em;
  margin: 0 auto;
  text-align: center;
  background: url("../../images/White.png") repeat;
  overflow: hidden;
}
#menu a {
  color: #c0392b;
  transition: all 1s;
  border-bottom: 1px solid rgba(137, 32, 21, 0);
  margin: 1px 20px;
  padding: 10px 10px 4px 10px;
}
#menu a:hover {
  color: #c0392b;
  border-bottom: 1px solid rgba(137, 32, 21, 1);
}
#main_container {
  z-index: 100;
  position: relative;
}
#Part1 {
}
#Part4 {
  padding: 2em 0 5em 0;
  height: 30em;
  text-align: center;
}
#Part4 h5,
#part4 p {
  font-family: "koodak_Bold", arial;
}
#Part4 p {
  font-size: 16px;
}

#bgVideo {
  width: 100%;
}

#scroll_Image {
  position: absolute;
  bottom: 60px;
  opacity: 0.7;
  width: 13px;
  height: 16px;
  left: 50%;
}

.hide {
  display: none;
}

#text {
  position: absolute;
  top: -10px;
  right: 10px;
  width: 80px;
  height: 80px;
}

.blog {
  font-weight: 900;
}

.blog:hover {
  /* text-shadow: 0px 1px 4px #fe495a !important; */
}

/* animation*/
@-webkit-keyframes bounce {
  0%,
  20%,
  40%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  10% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  30% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  40%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  10% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  30% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.myPic {
  text-align: center;
  margin-bottom: 10px !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -khtml-border-radius: 50%;
  overflow: hidden;
  margin-top: 50px;
}
@media only screen and (max-width: 400px) {
  #myPic {
    width: 160px !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
  }
}
#myPic {
  width: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -khtml-border-radius: 50%;
  border-radius: 50%;
}
/* skill Styles */
.skill_height {
  height: 120px;
  font-family: tahoma;
  margin-top: 30px;
  padding: 10px;
}
.skill_label {
  position: relative;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  font-size: 25px;
  border-bottom: 2px solid rgba(198, 57, 80, 0.5);
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}
/* style option menu*/
#optionMenu {
  display: block;
  margin: 0 auto;
  width: 900px;
  text-align: center;
}
#optionMenu label,
#optionMenu input {
  display: inline-block;
}
#optionMenu label {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 15px;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 2px;
}
#optionMenu label:hover {
  text-shadow: 0px 1px 3px rgba(231, 76, 60, 0.7);
}
#optionMenu input {
  display: none;
}
.Option_menu:checked + label {
  background-color: #f13348;
  color: #ecf0f1;
  border-top: 3px solid rgba(247, 245, 245, 0.5);
}
.all {
  display: block;
}
.all {
  display: none;
}
#option1:checked ~ .skill .first,
#option2:checked ~ .skill .second,
#option3:checked ~ .skill .third {
  display: block;
}

#aboutMe {
  height: 14em;
  margin-top: 80px;
  font-size: 16px;
}

#aboutMe p {
  font-size: 14px;
}

#whatIDo {
  margin-top: 3em;
  font-size: 14px;
}
#whatIDo:first-child {
  font-size: 18px;
  text-align: right;
}

#Part3 {
  padding: 50px 0px;
  height: 25em;
}
#Part3 div {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}

.email {
  font-size: 20px;
}

.email:hover {
  text-shadow: 0px 2px 5px #ccc;
}
.social {
  display: inline-block;
}

.social li {
  display: inline-block;
  margin: 0 1px;
}
.socialContainer {
  text-align: center;
  padding-left: 55px;
}
.header {
  height: 5em;
}
@media only screen and (max-width: 959px) {
  .social li {
    display: inline-block;
    margin: 0 1px;
  }
  .socialContainer {
    padding-left: 5px;
  }
  .header {
    height: 0em;
  }
}

@media only screen and (max-width: 500px) {
  .social li {
    display: inline-block;
    margin: 0 1px;
  }

  .footer {
    height: 4em;
  }
}

#my_vector {
  padding: 5px;
  display: block;
}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  #title {
    margin-top: 0.3em;
  }
  #title h1 {
    font-size: 35px;
  }
  #optionMenu {
    width: 100%;
  }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #title {
    margin-top: 0.3em;
  }
  #title h1,
  #title h2,
  #title h3 {
    font-size: 30px;
    padding-top: 1em;
  }
  #optionMenu {
    width: 100%;
  }
  #optionMenu label {
    margin-left: 0;
    margin-right: 0;
    padding: 20px 3px;
  }
  .skill_height {
    height: 95px;
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  #menu a {
    padding: 3px;
    font-size: 15px;
  }
  #title {
    margin-top: 0.3em;
    font-size: 30px;
  }
  #title h1,
  #title h2,
  #title h3 {
    font-size: 30px;
    padding-top: 1em;
  }
  #optionMenu {
    width: 100%;
  }
  #optionMenu label {
    margin-left: 0;
    margin-right: 0;
    padding: 20px 3px;
    font-size: 14px;
  }
  .skill_height {
    height: 95px;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #title {
    margin-top: 0.3em;
    font-size: 30px;
  }
  #title h1,
  #title h2,
  #title h3 {
    font-size: 30px;
    padding-top: 1em;
  }
  #optionMenu {
    width: 100%;
  }
  #optionMenu label {
    margin-left: 0;
    margin-right: 0;
    padding: 20px 3px;
    font-size: 14px;
  }
  .skill_height {
    height: 95px;
  }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .musthide {
    display: none;
  }
  header {
    height: 200px;
  }
  #my_vector {
    width: 300px;
    height: 100px;
  }
  #menu a {
    font-size: 16px;
    padding: 3px;
    margin: 6px;
  }
  #title {
    margin-top: 0.3em;
    font-size: 30px;
  }
  #title h1,
  #title h2,
  #title h3 {
    font-size: 30px;
    padding-top: 1em;
  }
  #optionMenu {
    width: 100%;
  }
  #optionMenu label {
    margin-left: 0;
    margin-right: 0;
    padding: 20px 3px;
    font-size: 14px;
  }
  .skill_height {
    height: 95px;
  }
  #title h3,
  #title h2,
  #title h1 {
    margin-top: 0;
    font-size: 20px;
  }
  #title {
    width: 400px;
  }
}
@media only screen and (max-width: 450px) {
  #optionMenu {
    width: 100%;
  }
  #collapse {
    display: block;
  }
  header {
    height: 200px;
  }
  #menu a {
    font-size: 14px;
    padding: 0;
    margin: 1px;
  }
  #optionMenu label {
    display: block;
  }
}

/* #Font-Face
================================================== */

@font-face {
  font-family: "sahel";
  src: url("../../Font/sahel/Sahel.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sahel";
  src: url("../../Font/sahel/Sahel-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "sahel";
  src: url("../../Font/sahel/Sahel-light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "sahel";
  src: url("../../Font/sahel/Sahel-SemiBold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "sahel";
  src: url("../../Font/sahel/Sahel-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "zocial";
  src: url("../../Font/zocial.eot");
  src: url("../../Font/zocial.eot#iefix") format("embedded-opentype"),
    url("../../Font/zocial.woff") format("woff"),
    url("../../Font/zocial.ttf") format("truetype"),
    url("../../Font/zocial.svg#zocial") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'zocial';
    src: url('../font/zocial.svg?53546154#zocial') format('svg');
  }
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */

.icon {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-size: 25px;
  transition: all 1s;
  margin: 1px 10px;
}

.icon:hover {
}

#dp_swf_engine {
  display: none;
}

.Tick {
  font-family: "koodak_Bold";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  transition: all 1s;
}
#Panel {
  display: inline;
}
#Panel2 {
  display: inline;
}
#Panel3 {
  display: inline;
}

/* animation*/
@-webkit-keyframes tick {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    opacity: 0;
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    opacity: 1;
  }
}
@keyframes tick {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    opacity: 0;
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    opacity: 1;
  }
}
#s1:before {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: tick;
  animation-name: tick;
  content: "|";
}
#s2:before {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: tick;
  animation-name: tick;
  content: "|";
}
#s3:before {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: Tick;
  animation-name: Tick;
  content: "|";
}
.t1:before {
  content: "\feb3"; /*س*/
}
.t2:before {
  content: "\fee0"; /*ل*/
}

.t3:before {
  content: "\fe8e"; /*ل*/
}
.t4:before {
  content: "\fee1"; /*م*/
}

.t5:before {
  content: "\060c"; /*،*/
}

.t6:before {
  content: "\FEE3"; /*م*/
}
.t7:before {
  content: "\FEE5"; /*ن*/
}

.t8:before {
  content: "\FEF4"; /*ی*/
}
.t9:before {
  content: "\FEA9"; /*د*/
}
.t10:before {
  content: "\FEA3"; /*ح*/
}
.t11:before {
  content: "\FE9F"; /*ج*/
}
.t12:before {
  content: "\FEF2"; /*ی*/
}

.t13:before {
  content: "\FEB4"; /*س*/
}
.t14:before {
  content: "\FEE8"; /*ن*/
}
.t15:before {
  content: "\FEEE"; /*و*/
}

.t16:before {
  content: "\FEEB"; /*ه*/
}
.t17:before {
  content: "\FE98"; /*ت*/
}
.t18:before {
  content: "\FEE2"; /*م*/
}

/*
	section two	*/

.t19:before {
  content: "\fe91"; /*ب*/
}
.t20:before {
  content: "\FEAE"; /*ر*/
}

.t21:before {
  content: "\FEE7"; /*ن*/
}

.t22:before {
  content: "\FEEA"; /*ه*/
}

.t23:before {
  content: "\FEF3"; /*ی*/
}

.t24:before {
  content: "\FEB2"; /*س*/
}

.t25:before {
  content: "\FEED"; /*و*/
}

.t26:before {
  content: "\FE8F"; /*ب*/
}

/*
	section three	*/
.t27:before {
  content: "\FE96"; /*ت*/
}
.t28:before {
  content: "\FEAF"; /*ز*/
}

.t29:before {
  content: "\FEE1"; /*م*/
}

.fp-tooltip {
  color: #000 !important; /* black */
}

.icon-instagram:before {
  content: "\f133";
}

.font12 {
  font-size: 12px;
}

.padding-top-10 {
  padding-top: 10%;
}

.page-header {
  line-height: normal;
  font-size: 16px;
  font-family: "sahel";
  font-weight: bold;
}
.link-color,
.link-color:visited,
.link-color .icon {
  color: #bb2439;
}

.social .icon {
  padding: 4px;
}
.link-color .icon:hover,
a:hover {
  color: #e51616 !important;
  cursor: pointer;
  /* text-shadow: 0px 1px 1px #fe495a; */
}
.divider {
  background-color: #dc090c;
  height: 3px;
  display: block;
  width: 240px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .divider {
    background-image: linear-gradient(
      107.2deg,
      rgba(150, 15, 15, 1) 10.6%,
      rgba(247, 0, 0, 1) 91.1%
    );
  }
}
